body {
    background-color: rgb(124, 124, 124);
    text-align: center;
    font-family: open sans, sans Arial, Helvetica, sans-serif;
}

.intro {
    margin: 30px 0px;
    font-weight: bold;
    font-size: 25px;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;

}

p {
    font-weight: 900;
    font-size: 18px;

}
 
.first {
    color: rgba(22, 55, 218, 0.536);
    margin-top: 10px;
}  

.second {
    color:rgba(220, 20, 73, 0.509)
}

.third {
    color:rgb(13, 67, 13);
}



#click {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    border: none;
	padding: 5px 15px;
	border-radius: 5px;
	height: 30px;
	background-color: #c800ffb5;
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
	font-weight: normal;
}


input {
	border-radius: 5px;
	min-width: 65%;
    height: 25px;
	padding: 5px;
	border: none;
}

#click:hover {
	background-color: #c800ff33;
	color: #ffffff49;
    border-color: #000000;
    box-shadow: 0 0.5em 0.5em -0.4em rgba(205, 5, 205, 0.344);
    transform: translateY(- 6em);
    transition: all 0.24s;
}

.row2 {
    margin: 60px;
}







